//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  // font-size: $font-size-small + 1px;
  &.in     { @include opacity(1); }
}

// Wrapper for the tooltip content
.tooltip-inner {
  border-radius: 0;
}

// Arrows
.tooltip-arrow {
}
.tooltip {
  &.top .tooltip-arrow {
    left: 55%;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0 0;
  }
   &.bottom .tooltip-arrow {
    left: 55%;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width 0;
  }
}

