# OS
.directory
.DS_Store
.AppleDouble
Thumbs.db
Desktop.ini

# IDE
*.tmproj
*.tmproject
tmtags
.~lock.

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.grunt


# Caches
.sass-cache
.tmp
tmp

# f00
md_toc.rb
.npmrc.swp

# Deployed apps should consider commenting this lines out:
node_modules
bower_components
closure